.indexCard {
    composes: card from "../component/card.css";
    border-width: 3px;
    transition: background-color .2s linear;
    cursor: pointer;
}
.indexCard:hover {
    background-color: rgba(0,0,0,.1);
}

.indexCardTitle {
    composes: textHeader from "../component/text.css";
    composes: colorBase from "../trump/typo.css";
}
.indexCardDescription {
    composes: textDescription from "../component/text.css";
}