extends ../templates/layout-spa.jade

block title
    | CSS Modules - Index Spa

block header
    div(class='container')
        h1 Index SPA

block content
    section(class="container")
        article
            a(href="/index.html") go to index site
            
            div(class=css.spa.c.card)
                h2 Title
                p description
                
            p(class=css.spa.t.textSmall)
                | text small