extends ../templates/layout-spa.jade

block title
    | CSS Modules - Index Spa

block header
    div(class='container')
        h1 Index SPA

block content
    section(class="container")
        article
            a(href="/index.html") go to index site
            
            p(class=css.spa.t.test)
                | spa test
                
            p(class=css.spa.c.test2)
                | spa test 2

            p(class=css.spa.t.textSmall)
                | spa text small