extends ../templates/layout.jade

block title
    | CSS Architecture - Index

block header
    div(class='container')
        h1 CSS architecture

block content
    section(class="container")
        article
            p Welcome to CSS Architecture Index
            
            p(class=css.main.test) test
            p(class=css.main.test2) test2
            p(class=css.typo.text_small) text_small