extends ../templates/layout.jade

block title
    | CSS Architecture - Index

block header
    div(class='container')
        h1 CSS architecture

block content
    section(class="container")
        article
            p Welcome to CSS Architecture Index
            
            div(class=css.site.c.card)
                h2 Title
                p description
                
            p(class=css.site.t.text_small)
                | text small