extends ../templates/layout.jade

block title
    | CSS Architecture - Index

block header
    div(class='container')
        h1 CSS architecture

block content
    section(class="container")
        article
            p Welcome to CSS Architecture Index.

            div(class=className.test) we are experimenting
            
            p 