extends ../templates/layout-site.jade

block title
    | CSS Modules - Index Site

block header
    div(class='container')
        h1 Index Site

block content
    section(class="container")
        article
            a(href="/index-spa.html") go to index spa
            
            div(class=css.site.c.card)
                h2 Title
                img(src="/assets/images/postcss-logo.png",width="300")
                p description
                
            div(class=css.site.c.card)
                h2 Title
                img(src="/assets/images/postcss-logo.png",width="300")
                p description
                
            p(class=css.site.t.text_small)
                | text small
            
            