.row { margin: 0 -15px; }
.row:before,
.row:after {
    content: ' ';
    display: table;
    clear: both;
}

.col {
    width: 25%;
    padding: 15px;
    float: left;
}

.card {
    color: var(--color-primary);
    border: 1px solid var(--color-gray);
    padding: 15px;
}
.cardImage {
    width: 100%;
    border: 1px solid var(--color-gray);
}