/* color */
.colorBase {
    color: var(--color-base);
}
.colorGray {
    color: var(--color-gray);
}
.colorPrimary {
    color: var(--color-primary);
}
.colorSecondary {
    color: var(--color-secondary);
}
.colorSuccess {
    color: var(--color-success);
}
.colorDanger {
    color: var(--color-danger);
}


/* text sizes*/
.textXsmall {
    font-size: var(--textXsmall);
}
.textSmall {
    font-size: var(--textSmall);
}
.textSizeBase {
    font-size: var(--textSizeBase);
}
.textMedium {
    font-size: var(--textMedium);
}
.textBig {
    font-size: var(--textBig);
}
.textHuge {
    font-size: var(--textHuge);
}